// Color Variables
$primary-color: #007bff;
$white-color: #fff;
$light-gray-color: #b0b0b0;
$border-gray-color: #ccc;
$header-gradient-start: rgb(168 0 168 / 70%);
$header-gradient-end: rgb(0 51 161 / 70%);

// Spacing Variables
$spacing-small: 10px;
$spacing-medium: 15px 10px;
$spacing-large: 20px;

// Border Radius
$border-radius: 5px;
